/* Normalization */

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
}
a {
  text-decoration: none !important;
}
ul,
li {
  list-style: none;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Uitilites */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/************ Header and navigation bar styles  *************/
.header {
  background-color: rgba(0, 1, 48, 1);
  padding: 20px;
  color: #fff;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #000130;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0px 30px;
  transition: all 0.4s ease-in-out;
}
.header .nav.scrolling {
  top: -100px;
}
.header .nav #menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0px;
  gap: 30px;
}
.header #menu a {
  color: #fff;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.header #menu a:hover,
.header #menu a.active {
  border-bottom: 2px solid #fff;
}
.menu-bar {
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 45px;
}
.bar {
  width: 100%;
  height: 4px;
  display: block;
  margin-bottom: 6px;
  background-color: #fff;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.menu-bar.active .bar:first-child {
  transform: rotate(135deg) translate(7px, 0px);
}
.menu-bar.active .bar:nth-child(2) {
  display: none;
}
.menu-bar.active .bar:last-child {
  transform: rotate(-135deg) translate(7px, 0px);
}
.header .content {
  font-size: 70px;
  font-family: fantasy;
  letter-spacing: 20px;
  padding: 200px 0px;
}
/********* The sections styles *************/
section {
  height: auto;
  padding: 108px 30px;
  color: #fff;
}
section.active h2 {
  /* animation: writing 1s ease-in-out; */
  text-shadow: 0px 0px 46px #fff;
}

#section1 {
  background: linear-gradient(
    180deg,
    rgba(0, 1, 48, 1) 0%,
    rgba(41, 5, 144, 1) 100%
  );
}
#section2 {
  background: rgb(41, 5, 144);
  background: linear-gradient(
    180deg,
    rgba(41, 5, 144, 1) 0%,
    rgba(5, 144, 143, 1) 100%
  );
}
#section3 {
  background: rgb(5, 144, 143);
  background: linear-gradient(
    180deg,
    rgba(5, 144, 143, 1) 0%,
    rgba(5, 144, 85, 1) 100%
  );
}
#section4 {
  background: rgb(5, 144, 85);
  background: linear-gradient(
    180deg,
    rgba(5, 144, 85, 1) 0%,
    rgba(5, 144, 38, 1) 100%
  );
}
#section5 {
  background: rgb(5, 144, 38);
  background: linear-gradient(
    180deg,
    rgba(5, 144, 38, 1) 0%,
    rgba(82, 144, 5, 1) 100%
  );
}
#section6 {
  background: rgb(82, 144, 5);
  background: linear-gradient(
    180deg,
    rgba(82, 144, 5, 1) 0%,
    rgba(143, 144, 5, 1) 100%
  );
}
section h2 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 60px;
  width: 100%;
}
section p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
  width: 90%;
}

/************ The Footer styles*/
footer {
  background-color: rgba(0, 1, 48, 1);

  font-size: 80px;
  text-align: center;
  padding: 50px;
  color: #fff;
}
/********** The to top button  */
#top-btn {
  position: fixed;
  bottom: 75px;
  right: 50px;
  background-color: hsl(0, 0%, 100%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  color: #000130;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
}
/********** The Media queries  */
@media (max-width: 991.98px) {
  /* Styling the menu on mobile view */
  .header .nav {
    overflow: hidden;
    opacity: 0;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    top: 50px;
  }
  .header .nav #menu {
    flex-direction: column;
  }
  .header .nav #menu a {
    color: #000130;
    font-weight: bold;
  }
  .header .nav.active {
    background-color: #fff;
    opacity: 1;
  }
  .header #menu a:hover,
  .header #menu a.active {
    border-bottom: 2px solid #000;
  }
  .menu-bar {
    display: block;
  }
}
@media (max-width: 650.98px) {
  .header .content {
    font-size: 36px;
    letter-spacing: 10px;
    padding: 200px 0px;
  }
}
